$mainFont:"Montserrat";
$splashScreen-fontSize:2rem;
$loader-backgrounColor: #d3e2ee;

$input-background: #ffffff;
$input-fontSize:13px;
$input-fonWeight: 700;

$login-padding:1rem;
$login-btn:#ffffff;
$form-title-opacity: 0.7;
$form-title-fontSize: 1.8rem;
$form-label-opacity: $form-title-opacity;
$form-label-fontSize: 1.2rem;
$blue-dark-1: #091841;
$blue-dark-2: #2b4458;
$blue-light-1: #d3e2ee;