@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import './defaultVar.scss';

.splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $mainFont;
    font-size: $splashScreen-fontSize;
}

.loader {
    margin: 12% 40%;
    position: relative;
}

.loader:before {
    border-radius: 50%;
    background-color: $loader-backgrounColor;
    animation: loader 3s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    content: '';
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
}

@keyframes loader {
    0% {
        transform: translateX(0) scale(1);
    }

    25% {
        transform: translateX(-100%) scale(0.3);
    }

    50% {
        transform: translateX(0) scale(1);
    }

    75% {
        transform: translateX(100%) scale(0.3);
    }

    100% {
        transform: translateX(0) scale(1);
    }
}

.login-form {
    padding: $login-padding;
}

.title {
    color: $blue-dark-2;
    opacity: $form-title-opacity;
    margin-bottom: 5px;
    font-size: $form-title-fontSize;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.label {
    color: $blue-dark-2;
    opacity: $form-label-opacity;
    margin-bottom: 5px;
    font-size: $form-label-fontSize;
    text-align: left;
}

input {
    border-radius: 5px;
    border: 2px solid $blue-light-1;
    padding: 12px 20px;
    padding-right: 20px;
    background: $input-background;
    color: $blue-dark-1;
    font-weight: $input-fonWeight;
    font-size: $input-fontSize;
    font-family: $mainFont;
}

.login-btn {
    color: $login-btn;
    background-color: $blue-dark-1;
}